.presentation-container {
  top: 100px;
  height: 600px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
}
.text-container {
  width: 50%;
}
